<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CadastraPessoa</servlet-name>
        <servlet-class>servlet.CadastraPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraResponsavel</servlet-name>
        <servlet-class>servlet.CadastraResponsavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraFoto</servlet-name>
        <servlet-class>servlet.CadastraFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logar</servlet-name>
        <servlet-class>servlet.Logar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesinscrevePessoa</servlet-name>
        <servlet-class>servlet.DesinscrevePessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarEvento</servlet-name>
        <servlet-class>servlet.cadastrarEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarAtividade</servlet-name>
        <servlet-class>servlet.cadastrarAtividade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderizarImagem</servlet-name>
        <servlet-class>servlet.RenderizarImagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderizarImagem2</servlet-name>
        <servlet-class>servlet.RenderizarImagem2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastraPessoa</servlet-name>
        <url-pattern>/CadastraPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraResponsavel</servlet-name>
        <url-pattern>/CadastraResponsavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraFoto</servlet-name>
        <url-pattern>/CadastraFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logar</servlet-name>
        <url-pattern>/Logar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InscreveUsuario</servlet-name>
        <servlet-class>servlet.InscrevePessoa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscreveUsuario</servlet-name>
        <url-pattern>/InscreveUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesinscrevePessoa</servlet-name>
        <url-pattern>/DesinscrevePessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarEvento</servlet-name>
        <url-pattern>/cadastrarEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarAtividade</servlet-name>
        <url-pattern>/cadastrarAtividade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderizarImagem</servlet-name>
        <url-pattern>/RenderizarImagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderizarImagem2</servlet-name>
        <url-pattern>/RenderizarImagem2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
